:root {
  --hapvida-blue: #2652B5;
  --hapvida-blue-light: #307CBF;
  --hapvida-orange: #ED862E;
  --hapvida-red: #E64A36;
  --hapvida-white: #FFFFFF;
  --hapvida-gray-light: #F5F5F5;
  --hapvida-gray-medium: #666666;
  --hapvida-gray-dark: #333333;
}