.lfr-layout-structure-item-container {padding: 0;} .lfr-layout-structure-item-row {overflow: hidden;} .portlet-borderless .portlet-content {padding: 0;}.lfr-layout-structure-item-71eb226d-812b-8912-74d9-1db90a62046b {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-71eb226d-812b-8912-74d9-1db90a62046b) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-1845ecfa-7f13-e196-7901-de41bae390b9 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-1845ecfa-7f13-e196-7901-de41bae390b9) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-634ba960-dea4-2481-d191-aaddcd6c68fd {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-634ba960-dea4-2481-d191-aaddcd6c68fd) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-1105bff9-5d3e-47c6-4c81-e148b92cb0cf {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-1105bff9-5d3e-47c6-4c81-e148b92cb0cf) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-e10b4462-2836-72df-5e7e-ed14e262d618 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-e10b4462-2836-72df-5e7e-ed14e262d618) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-6007a09c-c0c0-104e-da21-082ed4aa6374 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-6007a09c-c0c0-104e-da21-082ed4aa6374) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-718d9d6d-87a1-ece0-11cd-fc69b1156896 {
background-color: var(--gray-light) !important;
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-718d9d6d-87a1-ece0-11cd-fc69b1156896) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
padding-bottom: var(--spacer-5,3rem) !important;
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-2b7156ce-fcc8-4f3e-6cdf-a85172ebf3b4 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-2b7156ce-fcc8-4f3e-6cdf-a85172ebf3b4) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-031b86c9-a9a0-06d3-70fc-a87f2e6260c4 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-031b86c9-a9a0-06d3-70fc-a87f2e6260c4) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-143eb433-272c-a0e8-c56a-67ac6a421872 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-143eb433-272c-a0e8-c56a-67ac6a421872) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-c95ad6e9-fae0-e561-fbc5-fcc9ce2517e0 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-c95ad6e9-fae0-e561-fbc5-fcc9ce2517e0) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-2c6212bf-d113-b6a9-cd18-7e048c227d07 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-2c6212bf-d113-b6a9-cd18-7e048c227d07) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-6a3bd6ab-d6f3-f17a-337d-1e0025e47b29 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-6a3bd6ab-d6f3-f17a-337d-1e0025e47b29) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-1c0cc726-23dd-ea90-6b37-8d2400a65504 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-1c0cc726-23dd-ea90-6b37-8d2400a65504) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-bf511581-e99e-c703-12f3-8d99609ac44e {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-bf511581-e99e-c703-12f3-8d99609ac44e) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-2dfdea72-dba0-1088-3635-709dac54fe39 {
background-color: var(--gray-light) !important;
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-2dfdea72-dba0-1088-3635-709dac54fe39) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
margin-bottom: var(--spacer-5,3rem) !important;
margin-top: var(--spacer-5,3rem) !important;
padding-bottom: var(--spacer-5,3rem) !important;
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-b1a9a1ff-61f3-2f84-9cfa-a2fe035618b8 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-b1a9a1ff-61f3-2f84-9cfa-a2fe035618b8) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-c53a6ecd-3d22-8ba6-e561-3eef1532a21a {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-c53a6ecd-3d22-8ba6-e561-3eef1532a21a) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-e794fb6e-f8da-1c6a-ae4c-ae7315790f06 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-e794fb6e-f8da-1c6a-ae4c-ae7315790f06) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-ace9ad69-7d25-ee06-98f0-735a7032429a {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-ace9ad69-7d25-ee06-98f0-735a7032429a) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-91736e44-d5ac-bfab-bb77-5f24435fb95f {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-91736e44-d5ac-bfab-bb77-5f24435fb95f) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-18da21a5-85c4-4b60-c2a2-8f56cbb27081 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-18da21a5-85c4-4b60-c2a2-8f56cbb27081) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-16edc5a5-6fc0-18aa-878a-9e25f71eee40 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-16edc5a5-6fc0-18aa-878a-9e25f71eee40) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-febf00a9-40f6-3749-fb39-bc17dd7282f0 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-febf00a9-40f6-3749-fb39-bc17dd7282f0) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-17df08c8-6395-9160-98b3-eb22eae6446c {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-17df08c8-6395-9160-98b3-eb22eae6446c) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-f9c1531a-d951-57df-7649-1a30d9530014 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-f9c1531a-d951-57df-7649-1a30d9530014) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-7145bff4-b64d-96c7-627f-822b7321925d {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-7145bff4-b64d-96c7-627f-822b7321925d) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-0e7d6954-e0fe-fab2-20f8-7d11b24c9f2a {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-0e7d6954-e0fe-fab2-20f8-7d11b24c9f2a) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-08ddabfb-cd8b-277d-5ef8-d3af2e6601b1 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-08ddabfb-cd8b-277d-5ef8-d3af2e6601b1) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-8f02fec3-ced9-1a1d-f634-c929e16a4f2e {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-8f02fec3-ced9-1a1d-f634-c929e16a4f2e) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
padding-bottom: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-02ca3620-94ff-5b11-733e-2fe914397958 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-02ca3620-94ff-5b11-733e-2fe914397958) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-5f988a48-545a-9d56-c8de-9c28bbe339fd {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-5f988a48-545a-9d56-c8de-9c28bbe339fd) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-65f59dac-9667-7d28-1932-dafb5b8b93ef {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-65f59dac-9667-7d28-1932-dafb5b8b93ef) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
padding-bottom: var(--spacer-5,3rem) !important;
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-2847a742-38b8-6c64-b224-cef720d4787b {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-2847a742-38b8-6c64-b224-cef720d4787b) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-5e331560-da43-e81a-ad33-8b5798b540bb {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-5e331560-da43-e81a-ad33-8b5798b540bb) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-5e59f178-6db0-de79-943d-8089a783c8d6 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-5e59f178-6db0-de79-943d-8089a783c8d6) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
padding-bottom: var(--spacer-5,3rem) !important;
padding-top: var(--spacer-5,3rem) !important;
}
